.Circle {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background-color: #4986cc;
    margin: auto;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    padding: 5rem 0;
    font-size: 250%;
    color: white;
    text-shadow: black;
}

.hardwares .FormField:not(:last-child) {
    margin-bottom: 10px;
}